{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <style>
        table, th, td {
    border: 1px solid black;
    }
    
        th, td {
    padding: 15px;
    }
        th, td {
    text-align: center;
    }
    </style>
    
    
    <table  class="table table-striped" style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Transacted</th>
      </tr>
    {% for row in rows %}
      <tr>
        <td align = "center">{{ row.symbol }}</td>
        <td align = "center">{{ row.shares }}</td>
        <td align = "center">${{ row.price }}</td> 
        <td align = "center">{{ row.time }}</td>
      </tr>
    {% endfor %}
    </table>
    
{% endblock %}